.contact-form3-thq-contact9-elm {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form3-thq-image1-elm {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.contact-form3-thq-content-elm1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
 
.contact-form3-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-thq-content-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-thq-input-elm1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-thq-input-elm2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-container {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form3-thq-checkbox-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form3-thq-text-elm7 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-form3-thq-button-elm {
  align-self: flex-start;
}
 
.contact-form3-fragment1 {
  display: contents;
}
 
.contact-form3-text1 {
  display: inline-block;
}
 
.contact-form3-fragment2 {
  display: contents;
}
 
.contact-form3-text2 {
  display: inline-block;
}
 
.contact-form3-fragment3 {
  display: contents;
}
 
.contact-form3-text3 {
  display: inline-block;
}
 
.contact-form3-fragment4 {
  display: contents;
}
 
.contact-form3-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form3-thq-max-width-elm {
    flex-direction: column;
  }
  .contact-form3-thq-content-elm1 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form3-thq-image1-elm {
    width: 100%;
  }
}
