.features10-thq-layout300-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features10-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  align-items: center;
}
 
.features10-thq-section-title-elm {
  align-items: center;
}
 
.features10-thq-text-elm3 {
  text-align: center;
}
 
.features10-thq-content-elm {
  align-self: stretch;
  align-items: center;
}
 
.features10-thq-feature1-elm {
  align-items: flex-start;
}
 
.features10-thq-feature1-title-elm {
  text-align: center;
}
 
.features10-thq-feature2-elm {
  align-items: flex-start;
}
 
.features10-thq-feature3-elm {
  align-items: flex-start;
}
 
.features10-thq-actions-elm {
  align-items: flex-start;
}
 
.features10-thq-button-elm1 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.features10-thq-button-elm2 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.features10-fragment10 {
  display: contents;
}
 
.features10-text10 {
  display: inline-block;
}
 
.features10-fragment11 {
  display: contents;
}
 
.features10-text11 {
  display: inline-block;
}
 
.features10-fragment12 {
  display: contents;
}
 
.features10-text12 {
  display: inline-block;
}
 
.features10-fragment13 {
  display: contents;
}
 
.features10-text13 {
  display: inline-block;
}
 
.features10-fragment14 {
  display: contents;
}
 
.features10-text14 {
  display: inline-block;
}
 
.features10-fragment15 {
  display: contents;
}
 
.features10-text15 {
  display: inline-block;
}
 
.features10-fragment16 {
  display: contents;
}
 
.features10-text16 {
  display: inline-block;
}
 
.features10-fragment17 {
  display: contents;
}
 
.features10-text17 {
  display: inline-block;
}
 
.features10-fragment18 {
  display: contents;
}
 
.features10-text18 {
  display: inline-block;
}
 
.features10-fragment19 {
  display: contents;
}
 
.features10-text19 {
  display: inline-block;
}
 
.features10-fragment20 {
  display: contents;
}
 
.features10-text20 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features10-thq-section-title-elm {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features10-thq-section-title-elm {
    width: auto;
  }
  .features10-thq-text-elm2 {
    text-align: center;
  }
  .features10-thq-feature2-elm {
    width: auto;
  }
  .features10-thq-feature3-elm {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .features10-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features10-thq-actions-elm {
    width: 100%;
    flex-direction: column;
  }
  .features10-thq-button-elm1 {
    width: 100%;
  }
  .features10-thq-button-elm2 {
    width: 100%;
  }
}
