.logos2-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos2-thq-max-width-elm {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos2-text1 {
  width: 45%;
  text-align: center;
}
 
.logos2-thq-logo1-elm {
  object-fit: contain;
}
 
.logos2-thq-logo2-elm {
  object-fit: contain;
}
 
.logos2-thq-logo3-elm {
  object-fit: contain;
}
 
.logos2-thq-logo4-elm {
  object-fit: contain;
}
 
.logos2-thq-logo5-elm {
  object-fit: contain;
}
 
.logos2-fragment {
  display: contents;
}
 
.logos2-text2 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .logos2-text1 {
    width: 100%;
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .logos2-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos2-thq-max-width-elm {
    gap: var(--dl-layout-space-twounits);
  }
}
