.pricing8-thq-pricing23-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing8-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing8-thq-text-elm10 {
  text-align: center;
}
 
.pricing8-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm11 {
  text-align: center;
}
 
.pricing8-thq-text-elm12 {
  text-align: center;
}
 
.pricing8-thq-tabs-elm {
  display: flex;
  align-items: flex-start;
}
 
.pricing8-button1 {
  gap: var(--dl-layout-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
  border-top-left-radius: var(--dl-layout-radius-buttonradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-right-radius: 0;
}
 
.pricing8-button2 {
  gap: var(--dl-layout-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
 
.pricing8-button3 {
  gap: var(--dl-layout-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
 
.pricing8-button4 {
  gap: var(--dl-layout-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  justify-content: center;
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-layout-radius-buttonradius);
}
 
.pricing8-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.pricing8-thq-column-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.pricing8-icon10 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm10 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm17 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm18 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm1 {
  width: 100%;
}
 
.pricing8-thq-column-elm2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing8-icon22 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm12 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm24 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm25 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm2 {
  width: 100%;
}
 
.pricing8-thq-column-elm3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.pricing8-icon32 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm14 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm15 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm32 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm33 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm3 {
  width: 100%;
}
 
.pricing8-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.pricing8-thq-column-elm4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.pricing8-icon44 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm16 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm41 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm42 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm23 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm24 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm4 {
  width: 100%;
}
 
.pricing8-thq-column-elm5 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing8-icon56 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm48 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm49 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm25 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm26 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm27 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm28 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm5 {
  width: 100%;
}
 
.pricing8-thq-column-elm6 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.pricing8-icon66 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-thq-price-elm20 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-price-elm21 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-thq-text-elm56 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-thq-text-elm57 {
  font-size: 48px;
}
 
.pricing8-thq-list-elm6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-thq-list-item-elm29 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm30 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm31 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm32 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-list-item-elm33 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-thq-button-elm6 {
  width: 100%;
}
 
.pricing8-fragment10 {
  display: contents;
}
 
.pricing8-text10 {
  display: inline-block;
}
 
.pricing8-fragment11 {
  display: contents;
}
 
.pricing8-text11 {
  display: inline-block;
}
 
.pricing8-fragment12 {
  display: contents;
}
 
.pricing8-text12 {
  display: inline-block;
}
 
.pricing8-fragment13 {
  display: contents;
}
 
.pricing8-text13 {
  display: inline-block;
}
 
.pricing8-fragment14 {
  display: contents;
}
 
.pricing8-text14 {
  display: inline-block;
}
 
.pricing8-fragment15 {
  display: contents;
}
 
.pricing8-text15 {
  display: inline-block;
}
 
.pricing8-fragment16 {
  display: contents;
}
 
.pricing8-text16 {
  display: inline-block;
}
 
.pricing8-fragment17 {
  display: contents;
}
 
.pricing8-text17 {
  display: inline-block;
}
 
.pricing8-fragment18 {
  display: contents;
}
 
.pricing8-text18 {
  display: inline-block;
}
 
.pricing8-fragment19 {
  display: contents;
}
 
.pricing8-text19 {
  display: inline-block;
}
 
.pricing8-fragment20 {
  display: contents;
}
 
.pricing8-text20 {
  display: inline-block;
}
 
.pricing8-fragment21 {
  display: contents;
}
 
.pricing8-text21 {
  display: inline-block;
}
 
.pricing8-fragment22 {
  display: contents;
}
 
.pricing8-text22 {
  display: inline-block;
}
 
.pricing8-fragment23 {
  display: contents;
}
 
.pricing8-text23 {
  display: inline-block;
}
 
.pricing8-fragment24 {
  display: contents;
}
 
.pricing8-text24 {
  display: inline-block;
}
 
.pricing8-fragment25 {
  display: contents;
}
 
.pricing8-text25 {
  display: inline-block;
}
 
.pricing8-fragment26 {
  display: contents;
}
 
.pricing8-text26 {
  display: inline-block;
}
 
.pricing8-fragment27 {
  display: contents;
}
 
.pricing8-text27 {
  display: inline-block;
}
 
.pricing8-fragment28 {
  display: contents;
}
 
.pricing8-text28 {
  display: inline-block;
}
 
.pricing8-fragment29 {
  display: contents;
}
 
.pricing8-text29 {
  display: inline-block;
}
 
.pricing8-fragment30 {
  display: contents;
}
 
.pricing8-text30 {
  display: inline-block;
}
 
.pricing8-fragment31 {
  display: contents;
}
 
.pricing8-text31 {
  display: inline-block;
}
 
.pricing8-fragment32 {
  display: contents;
}
 
.pricing8-text32 {
  display: inline-block;
}
 
.pricing8-fragment33 {
  display: contents;
}
 
.pricing8-text33 {
  display: inline-block;
}
 
.pricing8-fragment34 {
  display: contents;
}
 
.pricing8-text34 {
  display: inline-block;
}
 
.pricing8-fragment35 {
  display: contents;
}
 
.pricing8-text35 {
  display: inline-block;
}
 
.pricing8-fragment36 {
  display: contents;
}
 
.pricing8-text36 {
  display: inline-block;
}
 
.pricing8-fragment37 {
  display: contents;
}
 
.pricing8-text37 {
  display: inline-block;
}
 
.pricing8-fragment38 {
  display: contents;
}
 
.pricing8-text38 {
  display: inline-block;
}
 
.pricing8-fragment39 {
  display: contents;
}
 
.pricing8-text39 {
  display: inline-block;
}
 
.pricing8-fragment40 {
  display: contents;
}
 
.pricing8-text40 {
  display: inline-block;
}
 
.pricing8-fragment41 {
  display: contents;
}
 
.pricing8-text41 {
  display: inline-block;
}
 
.pricing8-fragment42 {
  display: contents;
}
 
.pricing8-text42 {
  display: inline-block;
}
 
.pricing8-fragment43 {
  display: contents;
}
 
.pricing8-text43 {
  display: inline-block;
}
 
.pricing8-fragment44 {
  display: contents;
}
 
.pricing8-text44 {
  display: inline-block;
}
 
.pricing8-fragment45 {
  display: contents;
}
 
.pricing8-text45 {
  display: inline-block;
}
 
.pricing8-fragment46 {
  display: contents;
}
 
.pricing8-text46 {
  display: inline-block;
}
 
.pricing8-fragment47 {
  display: contents;
}
 
.pricing8-text47 {
  display: inline-block;
}
 
.pricing8-fragment48 {
  display: contents;
}
 
.pricing8-text48 {
  display: inline-block;
}
 
.pricing8-fragment49 {
  display: contents;
}
 
.pricing8-text49 {
  display: inline-block;
}
 
.pricing8-fragment50 {
  display: contents;
}
 
.pricing8-text50 {
  display: inline-block;
}
 
.pricing8-fragment51 {
  display: contents;
}
 
.pricing8-text51 {
  display: inline-block;
}
 
.pricing8-fragment52 {
  display: contents;
}
 
.pricing8-text52 {
  display: inline-block;
}
 
.pricing8-fragment53 {
  display: contents;
}
 
.pricing8-text53 {
  display: inline-block;
}
 
.pricing8-fragment54 {
  display: contents;
}
 
.pricing8-text54 {
  display: inline-block;
}
 
.pricing8-fragment55 {
  display: contents;
}
 
.pricing8-text55 {
  display: inline-block;
}
 
.pricing8-fragment56 {
  display: contents;
}
 
.pricing8-text56 {
  display: inline-block;
}
 
.pricing8-fragment57 {
  display: contents;
}
 
.pricing8-text57 {
  display: inline-block;
}
 
.pricing8-fragment58 {
  display: contents;
}
 
.pricing8-text58 {
  display: inline-block;
}
 
.pricing8-fragment59 {
  display: contents;
}
 
.pricing8-text59 {
  display: inline-block;
}
 
.pricing8-fragment60 {
  display: contents;
}
 
.pricing8-text60 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .pricing8-container1 {
    flex-direction: column;
  }
  .pricing8-thq-column-elm3 {
    width: 100%;
  }
  .pricing8-container2 {
    flex-direction: column;
  }
  .pricing8-thq-column-elm6 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing8-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .pricing8-thq-button-elm1 {
    width: 100%;
  }
  .pricing8-thq-button-elm2 {
    width: 100%;
  }
  .pricing8-thq-button-elm3 {
    width: 100%;
  }
  .pricing8-thq-button-elm4 {
    width: 100%;
  }
  .pricing8-thq-button-elm5 {
    width: 100%;
  }
  .pricing8-thq-button-elm6 {
    width: 100%;
  }
}
